Checks: '
    -*,
    bugprone-*,
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-macro-parentheses,
    -bugprone-narrowing-conversions,
    -bugprone-unhandled-self-assignment,
    cppcoreguidelines-pro-type-cstyle-cast,
    google-*,
    -google-build-using-namespace,
    -google-readability-casting,
    -google-readability-function-size,
    -google-readability-todo,
    -google-runtime-int,
    -google-runtime-references,
    misc-*,
    -misc-no-recursion,
    -misc-redundant-expression,
    -misc-unused-parameters,
    modernize-*,
    -modernize-avoid-c-arrays,
    -modernize-deprecated-headers,
    -modernize-loop-convert,
    -modernize-return-braced-init-list,
    -modernize-use-auto,
    -modernize-use-nullptr,
    -modernize-use-trailing-return-type,
    -modernize-use-using,
    performance-*,
    -performance-no-int-to-ptr,
    portability-*,
    readability-*,
    -readability-else-after-return,
    -readability-function-cognitive-complexity,
    -readability-function-size,
    -readability-implicit-bool-conversion,
    -readability-inconsistent-declaration-parameter-name,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-simplify-boolean-expr'
