WarningsAsErrors: '*'
Checks: '
    -*,
    bugprone-*,
    -bugprone-assignment-in-if-condition,
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-macro-parentheses,
    -bugprone-narrowing-conversions,
    -bugprone-unhandled-self-assignment,
    cert-*,
    -cert-dcl50-cpp,
    -cert-env33-c,
    -cert-err33-c,
    -cert-err58-cpp,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-narrowing-conversions,
    -cppcoreguidelines-no-malloc,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-const-cast,
    -cppcoreguidelines-pro-type-member-init,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-type-vararg,
    google-*,
    -google-build-using-namespace,
    -google-readability-casting,
    -google-readability-function-size,
    -google-readability-todo,
    -google-runtime-int,
    -google-runtime-references,
    misc-*,
    -misc-const-correctness,
    -misc-include-cleaner,
    -misc-no-recursion,
    -misc-redundant-expression,
    -misc-unused-parameters,
    -misc-use-anonymous-namespace,
    modernize-*,
    -modernize-avoid-c-arrays,
    -modernize-loop-convert,
    -modernize-make-unique,
    -modernize-raw-string-literal,
    -modernize-return-braced-init-list,
    -modernize-use-auto,
    -modernize-use-default-member-init,
    -modernize-use-trailing-return-type,
    -modernize-use-using,
    performance-*,
    -performance-avoid-endl,
    -performance-no-int-to-ptr,
    portability-*,
    readability-*,
    -readability-avoid-nested-conditional-operator,
    -readability-braces-around-statements,
    -readability-else-after-return,
    -readability-function-cognitive-complexity,
    -readability-function-size,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-inconsistent-declaration-parameter-name,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-redundant-declaration,
    -readability-simplify-boolean-expr,
    -readability-suspicious-call-argument'
