Checks: '
    -*,
    bugprone-*,
    google-*,
    -google-build-using-namespace,
    -google-readability-casting,
    -google-readability-todo,
    -google-runtime-int,
    -google-runtime-references,
    misc-*,
    -misc-misplaced-const,
    -misc-redundant-expression,
    -misc-unused-parameters,
    modernize-*,
    -modernize-deprecated-headers,
    -modernize-loop-convert,
    -modernize-use-auto,
    -modernize-use-nullptr,
    -modernize-use-using,
    performance-*,
    portability-*,
    readability-*,
    -readability-else-after-return,
    -readability-implicit-bool-conversion,
    -readability-named-parameter,
    -readability-simplify-boolean-expr'
